<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style media="screen">
    h1,h2,h3
    {
      text-align : center;
    }
    table
    {

      color: #330000;
      align: center;
    }
    th
    {
      height: 50px;
      color: black;
    }
  </style>
</head>
<body style="background-color:orange">
	<h2>Add Concert</h2>
	<form method="post">
	
		<table align="center">
			<tr>
				<td>Band Name</td>
				<td><input type="text" name="bandname"></td>
			</tr>
			<tr>
				<td>Concert Name</td>
				<td><input type="text" name="concertname"></td>
			</tr>
      <tr>
				<td>Concert Date & Time</td>
				<td><input type="text" name="concertdate"></td>
			</tr>
      <tr>
				<td>Concert Venue</td>
				<td><input type="text" name="concertvenue"></td>
			</tr>
      <tr>
				<td>Ticket Quantity</td>
				<td><input type="text" name="quantity"></td>
			</tr>
      <tr>
				<td>Ticket Price</td>
				<td><input type="text" name="price"></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" value="Submit"></td>
			</tr>
		</table>
		<br><br>
		<h3><a href="/concert">Back</a></h3>
	</form>
</body>
</html>
